@page
@model Howl.Pages.P.ProfileModel
@{
}
<div class="bg-dark float-left">
    <img height="300" width="300" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" />
    <div class="card">
        <div class="card-body">
            <p class="card-text float-left text-light d-inline">Username:</p>
            <p class="card-text float-right text-info d-inline">@Model.User.Username</p>
        </div>
        <div class="card-body">
            <p class="card-text float-left text-light d-inline">Followers:</p>
            <p class="card-text float-right text-info d-inline">@Model.FollowerCount</p>
        </div>
        <div class="card-body">
            <p class="card-text float-left text-light d-inline">Following:</p>
            <p class="card-text float-right text-info d-inline">@Model.FollowedCount</p>
        </div>
        <div class="card-body">
            <p class="card-text float-left text-light d-inline">Written reviews:</p>
            <p class="card-text float-right text-info d-inline">@Model.ReviewsWritten</p>
        </div>
        <div class="card-footer">
            <form method="post" asp-page-handler="Logout">
                <input class="btn btn-danger" type="submit" value="Logout" />
            </form>
        </div>
    </div>
</div>
<div class="float-right w-50">
    <h3 class="text-light">Reviews written by @Model.User.Username</h3>
    @if (Model.Reviews.Count() != 0)
    {
        @foreach (var rv in Model.Reviews)
        {
<div class="bg-dark w-100 card mb-5">
    <div class="card-header">
        <h5 class="card-title d-inline">@rv.Album.AlbumTitle</h5>
        <p class="card-text d-inline"><strong>@rv.ReviewTitle</strong></p>
        <div class="d-inline">
            @for (int i = 0; i < rv.StarRating; i++)
            {
                <i class="fa fa-star" aria-hidden="true"></i>
            }
        </div>
    </div>
    <div class="card-body">
        <p class="card-text text-light">@rv.ReviewText</p>
    </div>
    <div>
        <form class="d-inline ml-3" method="post" asp-page-handler="Delete">
            <input type="hidden" asp-for="@Model.Review.ReviewID" value="@rv.ReviewID" />
            <button class="btn btn-danger col-2 d-inline"><i class="fa fa-times"></i> Delete</button>
        </form>
    </div>
    <div>
        <div class="d-inline">
            @*<p class="card-text text-white d-inline col mr-1"><em>@rv.User.Username</em></p>*@
            <p class=" card-text text-info d-inline float-right mr-2">@rv.PublishDateTime.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
</div>
        }
    }
</div>


