@page
@model Howl.Pages.P.SearchResultModel
@{
}
<h2>Search Result</h2>
<h4>You searched for @Model.SearchTerm</h4>
@if (Model.Albums.Count() != 0)
{
    @foreach (var a in Model.Albums)
    {
        <div class="card m-4" style="width: 18rem;">
            <div class="card-header">
                <h5 class="card-title">@a.AlbumTitle</h5>
                <h6 class="card-subtitle mb-2 text-muted">@a.MusicGenre.ToString().ToLower()</h6>
                <h6 class="card-subtitle mb-2 text-muted">released @a.Year.ToString("MMMM yyyy")</h6>
            </div>
            <div class="card-body">
                <p class="card-text">By @a.Artist</p>
                <p class="card-text">Song List</p>
                <a asp-page="WriteReview" asp-route-id="@a.AlbumID" class="card-link">Write review</a>
            </div>
        </div>
    }
}